<a href="https://colab.research.google.com/github/memrranmian/my-first-repo1/blob/main/ai_navtcc_navtcc_lab6_lec10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def thing():
  print('hello\nfun')
  return

In [6]:
def thing()
  print('hello\nfun')
thing()
print('zip')
thing()

hello
fun
zip
hello
fun

In [13]:
#max give the max alphabhet in terms of there count in alphbetical order, same for min spacebar has least count
big = max('Hello world')
print(big)
tiny = min('Hello world')
print(tiny)

w

In [23]:
# sval='hello'
# conv=int(sval)
# type(sval)
# print(sval)

sval='123'
type(sval)
conv=int(sval)
type(conv)

print(sval)
print(conv)

123
123

In [26]:
def greet(lang):
  if lang == 'es':
    print('hola')
  elif lang == 'fr':
    print('bonjour')
  else:
    print('hello')


greet('es')
greet('fr')
greet('en')
greet(1)
greet('ur')

hola
bonjour
hello
hello
hello

In [41]:
def greet(lang):
  if lang == 'es':
    return 'hola'
  elif lang == 'fr':
    return 'bonjour'
  else:
    return 'hello'

greet("es")
greet('fr')
print(greet('en'),'nelson')

hello nelson

In [50]:
inp =""
def max(inp):
  blah
  blah
  blah
  for x in y :
    blah
    blah
  return 'w'

big = max('hello' , 'world')
type (inp)
print(big)

TypeError: max() missing 1 required positional argument: 'inp'

In [53]:
def addtwo(a,b):
  added = a+b
  return added

x= addtwo(3,5)
print(x)

8

In [ ]:
# infinte loop prog
# n=5
# while n>0:
#   print('lather')
#   print('rinse')
# print('dry off')

In [55]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(line)
print('done!')

> imran
imran
> ali
ali
> irfan
irfan
> done
done!

In [58]:
while True:
  line = input('> ')
  if line[0] == '#':
    continue
  if line == 'done':
    break
  print(line)
print('done!')

> imran
imran
> ali
ali
> #
> imran
imran
> abdullah
abdullah
> done
done!

In [60]:
 for i in [5,4,3,2,1]:
   print(i)
print('blastoff!')

5
4
3
2
1
blastoff!

In [90]:
# Rewrite your pay computation with time-and-a-half for overtime and create a function called computepay which takes two parameters ( hours and  rate).

# Enter Hours: 45
# Enter Rate: 10

# Pay: 475.0


def computepay(hr,srph):
  shr=40
  if hr>40:
    xtrahr=hr-shr
    pay = shr*srph+xtrahr*15
    print('your payable wage includes overtime ',pay)
    return pay

  else:
    pay=hr*srph
    # print('your payable wage ',pay)
    return pay

def main():
  hr = int(input('enter hours: '))
  srph = int(input('enter rate: '))
  # computepay(hr,srph)
  # print(computepay(hr,srph))
  return computepay(hr,srph)

In [95]:
# Rewrite your pay computation with time-and-a-half for overtime and create a function called computepay which takes two parameters ( hours and  rate).

# Enter Hours: 45
# Enter Rate: 10

# Pay: 475.0


def computepay(hr,srph):
  shr=40
  if hr>40:
    xtrahr=hr-shr
    pay = shr*srph+xtrahr*15
    print('your payable wage includes overtime ',pay)
    return pay

  else:
    pay=hr*srph
    # print('your payable wage ',pay)
    return pay

def main():
  hr = int(input('enter hours: '))
  srph = int(input('enter rate: '))
  # computepay(hr,srph)
  # print(computepay(hr,srph))
  # return computepay(hr,srph)

  print('Pay:', computepay(hr,srph))
  return 0

In [115]:
# Rewrite your pay computation with time-and-a-half for overtime and create a function called computepay which takes two parameters ( hours and  rate).

# Enter Hours: 45
# Enter Rate: 10

# Pay: 475.0


def computepay(hr,srph):
  shr=40
  if hr>40:
    xtrahr=hr-shr
    pay = shr*srph+xtrahr*15
    print('your payable wage includes overtime ',pay)
    return pay

  else:
    pay=hr*srph
    print('your payable wage is applicable to overtime ',pay)
    return pay

hr = int(input('enter hours: '))
srph = int(input('enter rate: '))
# computepay(hr,srph)
# print(computepay(hr,srph))
# return computepay(hr,srph)
# pay1 = computepay(hr,srph)
# print('Final Take home is as above', pay1, computepay(hr,srph))
print('Final Take home is as ', computepay(hr,srph))

enter hours: 34
enter rate: 10
your payable wage is applicable to overtime  340
Final Take home is as  340

In [141]:
things = [9, 41, 12, 3, 74, 15]
thing1=things[0]
thing2=things[0]
for thing in things :
  if thing>thing1:
    thing1=thing
  # elif things[1]>thing:
  #   thing1=things[i]
  # elif things[2]>thing:
  #   thing1=things[i]
  # elif things[3]>thing:
  #   thing1=things[i]
  # elif things[4]>thing:
  #   thing1=things[i]
  # else:
  #   thing1=things[i]
    print('greatest number = ',thing1)

for thing in things:
  if thing<thing2:
    thing2=thing
    print('smallest number = ',thing2)

greatest number =  41
greatest number =  74
smallest number =  3

In [118]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num > largest_so_far :
      largest_so_far = the_num
   print(largest_so_far, the_num)

print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [142]:
count=0
print('starting Value = ',count)
for thing in [9,41,12,3,74,15]:
  count=count+1
  print(count,thing)
print('Total item count = ',count)

starting Value =  0
1 9
2 41
3 12
4 3
5 74
6 15
Total item count =  6

In [146]:
sum=0
count=0
print('starting Value = ',sum)
for thing in [9,41,12,3,74,15]:
  # print(thing)
  count=count+1
  sum=sum+thing
  print(count,thing,sum)
print('Commulative Sum = ',sum)
print('Total item count = ',count)

starting Value =  0
1 9 9
2 41 50
3 12 62
4 3 65
5 74 139
6 15 154
Commulative Sum =  154
Total item count =  6

In [147]:
sum=0
count=0
print('starting Value = ',sum)
for thing in [9,41,12,3,74,15]:
  # print(thing)
  count=count+1
  sum=sum+thing
  print(count,thing,sum)
print('Commulative Sum = ',sum)
print('Total item count = ',count)
print('average = ',sum/count)

starting Value =  0
1 9 9
2 41 50
3 12 62
4 3 65
5 74 139
6 15 154
Commulative Sum =  154
Total item count =  6
average =  25.666666666666668

In [148]:
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if value > 20:
 	    print('Large number',value)
print('After')

Before
Large number 41
Large number 74
After

In [149]:
smallest = None
print('Before')
for value in [3, 41, 12, 9, 74, 15] :
    if smallest is None :
        smallest = value
    elif value < smallest :
        smallest = value
    print(smallest, value)

print('After', smallest)

Before
3 3
3 41
3 12
3 9
3 74
3 15
After 3