<a href="https://colab.research.google.com/github/memrranmian/my-first-repo1/blob/main/AI_navtcc_lab3_lect7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 10
if (i > 15):
    print ("10 is less than 15")
    print ("I am Not in if")

In [ ]:
i = 18
if (i > 15):
    print ("10 is less than 15")
    print ("I am Not in if")

10 is less than 15
I am Not in if

In [ ]:
i = 20;
if (i < 15):
    print ("i is smaller than 15")
    print ("i'm in if Block")
else:
    print ("i is greater than 15")
    print ("i'm in else Block")
print ("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [ ]:
i = 10
if (i == 10):
    # First if statement
    if (i < 15):
        print ("i is smaller than 15")
    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print ("i is smaller than 12 too")
    else:
        print ("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

In [ ]:
i = 20
if (i == 10):
    print ("i is 10")
elif (i == 15):
    print ("i is 15")
elif (i == 20):
    print ("i is 20")
else:
    print ("i is not present")

i is 20

In [ ]:
x = 1
type (x)

int

In [9]:
a=int(10/2)
b=10/2
print (a , b , type(a) , type(b))

5 5.0 <class 'int'> <class 'float'>

In [24]:
sval = '123'
ival = ('1','2','3')
print (sval)
print (ival)
type (sval)
type (ival)

print (int(sval))


type (sval)

type (ival)

123
('1', '2', '3')
123

tuple