<a href="https://colab.research.google.com/github/memrranmian/my-first-repo1/blob/main/practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Maps, Filters, Lambda, Sets

In [16]:
# Map is a generator function and works like an iterator

marks = [77, 97, 64, 85, 55]

def grade(marks):
    if marks >= 90:
      return 'A'
    elif 80 <= marks < 90:
      return 'B'
    elif 70 <= marks < 80:
      return 'C'
    elif 60 <= marks < 70:
      return 'D'
    else:
      return 'F'

grades = map(grade,marks)

print("Exam Scores:", marks)
# print("Grades:", list(grades))
print("Grades:", grades)
print("Grades:", next(grades))
print("Grades:", next(grades))
print("Grades:", next(grades))
print("Grades:", next(grades))
print("Grades:", next(grades))
print("Grades:", list(grades))

grades = list(map(grade,marks))
print("\nGrades:", grades)

Exam Scores: [77, 97, 64, 85, 55]
Grades: <map object at 0x7fb29f759390>
Grades: C
Grades: A
Grades: D
Grades: B
Grades: F
Grades: []

Grades: ['C', 'A', 'D', 'B', 'F']

In [22]:
#filter function

marks = [77.97,64,35,55]
def failing(score):
  return score<60
result = filter(failing,marks)

print('all scores obtained: ', marks)
#print('failing scores: ',list(result))
print('failing scores: ',next(result))
print('failing scores: ',next(result))
print('failing scores: ',list(result))

result = list(filter(failing,marks))
print('failing scores list: ', result)

all scores obtained:  [77.97, 64, 35, 55]
failing scores:  35
failing scores:  55
failing scores:  []
failing scores list:  [35, 55]

In [29]:
def greet(name):
  return 'Hello '+ name #this function defines its type as string due to "hello" is concatinated to a var

greeting = greet('Alice')
# greeting1 = greet(Alice)
# greeting2 = greet(name)
greeting3 = greet(greeting)
# greet('bob')
print(greeting)
print(greeting3)
greet('bob')

Hello Alice
Hello Hello Alice

'Hello bob'

In [31]:
def greet(name):
	return name+3.14

print (greet(3))

6.140000000000001

In [34]:
def compute(a,b):
  result = a*b
  if result>10:
    return result-3
  return result+4

compute(5,3)
compute(3,2)
print (compute(3,2))
print (compute(5,3))

compute(3,2)
compute(5,3)

10
12

12

In [37]:
# dunder like __name__ , __file__ , __doc__

print(f'file_1 __name__: {__name__}')

if __name__ == '__main__':
  print('__name__equals__main__')

file_1 __name__: __main__
__name__equals__main__

In [44]:
# dunder like __name__ , __file__ , __doc__

print(f'file2 __name__: {__name__}')

# import file_1.py

help("print")

file2 __name__: __main__
Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [46]:
# Define a custom class to represent a playlist
class Playlist:
    def __init__(self, songs):
        """
        Constructor that initializes the playlist with a list of songs.
        """
        self.songs = songs

    def __len__(self):
        """
        The __len__ dunder method.
        It defines the behavior of the built-in len() function for Playlist objects.
        """
        print("The __len__ method was called.")
        return len(self.songs)

# Create an instance of the Playlist class
my_playlist = Playlist(["Bohemian Rhapsody", "Hotel California", "Imagine", "Hey Jude"])

# Call the built-in len() function on the custom object
playlist_length = len(my_playlist)

# Print the result
print(f"The number of songs in the playlist is: {playlist_length}")

The __len__ method was called.
The number of songs in the playlist is: 4

In [45]:
def greet(*args):
    print(f"Arguments: {args}")
    for name in args:
        print(f"Hello {name}")

greet("Alice")           # ✅ args = ("Alice",)
greet("Alice", "Bob")    # ✅ args = ("Alice", "Bob")
greet("A", "B", "C")     # ✅ args = ("A", "B", "C")
greet()                  # ✅ args = () empty tuple

Arguments: ('Alice',)
Hello Alice
Arguments: ('Alice', 'Bob')
Hello Alice
Hello Bob
Arguments: ('A', 'B', 'C')
Hello A
Hello B
Hello C
Arguments: ()

In [91]:
#lambda functions

def square(num):
 return num**2

def cube(num):
  return num**3

def mul(num1,num2):
  return num1*num2

def transform_list(num_list, transform_item):
  transformed_0= transform_item(num_list[0])
  transformed_1= transform_item(num_list[1])
  return [transformed_0, transformed_1]

# def transform_list1(num_list, transform_item):
#   transformed_0= transform_item(num_list[0])
#   transformed_1= transform_item(num_list[1])
#   return [transformed_0, transformed_1]

my_list=[2,3]
print (transform_list(my_list, cube),' , ',transform_list(my_list, square))
print(list(map(cube,my_list)))
print(list(map(square,my_list)))
print (transform_list(my_list, lambda num: num**3),' , ',transform_list(my_list, lambda num: num**2))
# print(list(map(my_list,square)))
# print(list(map(mul,my_list)))


# lamda functions in map and filter
num_list = range(1,10)
print (list(num_list))
print(list(map(lambda num: num**2, num_list)))
print(list(filter(lambda num: num%2 ==0, num_list)))

[8, 27]  ,  [4, 9]
[8, 27]
[4, 9]
[8, 27]  ,  [4, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[2, 4, 6, 8]

In [77]:
# print(list(10))
print(list[1,2,'2'])

print(list('imran'))

print(list(range(10)))  # ✅ Creates [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print([0] * 10)  # ✅ Creates [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print([i for i in range(10)])  # ✅ Creates [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

list[1, 2, '2']
['i', 'm', 'r', 'a', 'n']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
# understanding list[] (ordered) , tuple() (ordered) , sets{} (no order)

# list[]
list1=['a','b','c','a']
print(['a','b','c','a'])
list1[2] = 'z'
print (list1[2])
print (list1)


# tuple
tuple1=('a','b','c','a')
print(('a','b','c','a'))
# tuple1[2] = 'z'
print (tuple1[2])

# sets
set1= {'a','b','c','a'}
print({'a','b','c','a'})
# set[2] = 'z'
# print (set1)
# print (set1[2])  # give error due to unordered form
set1.add('z')
print(set1)
set1.remove('a')
print(set1)

list1 = [1,2,5,4,6,7,7,6,1]
set(num)

['a', 'b', 'c', 'a']
z
['a', 'b', 'z', 'a']
('a', 'b', 'c', 'a')
c
{'a', 'b', 'c'}
{'a', 'b', 'c', 'z'}
{'b', 'c', 'z'}

{1, 2, 4, 5, 6, 7}

In [117]:
# list comprehensions

num = range(1,6)
num_sqr=[]
for i in num:
  sqr = i**2
  num_sqr.append(sqr)
print(num_sqr)




num_sqr1 = [i**2 for i in num]
print(num_sqr1)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [120]:
tv_shows = ['friends','park and recreation','the office','30 rock','modern family']

tv_shows1 = []
for i in tv_shows:
  show_cap = i.title()
  tv_shows1.append(show_cap)
print(tv_shows1)

tv_shows2 = [i.title() for i in tv_shows]
print(tv_shows2)

['Friends', 'Park And Recreation', 'The Office', '30 Rock', 'Modern Family']
['Friends', 'Park And Recreation', 'The Office', '30 Rock', 'Modern Family']

In [122]:
tv_shows = ['friends','park and recreation','the office','30 rock','modern family']
tv_shows = ['friends','park and recreation','the office','30 rock','modern family']

tv_shows1 = []
for i in tv_shows:
  if len(i)>=10:
    show_cap = i.title()
    tv_shows1.append(show_cap)
print(tv_shows1)

tv_shows2 = [i.title() for i in tv_shows if len(i)>=10]
print(tv_shows2)

['Park And Recreation', 'The Office', 'Modern Family']
['Park And Recreation', 'The Office', 'Modern Family']

In [125]:
 [i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [126]:
from time import time

# List comprehension approach
start = time()
[n**2 for n in range(1, 100000001)]
end = time()
print("List comp run time:", end - start)

# Loop + append approach
start = time()
squares = []
for n in range(1, 100000001):
    squares.append(n**2)
end = time()
print("Loop + append run time:", end - start)

List comp run time: 11.260793685913086
Loop + append run time: 23.21716284751892

In [131]:
num = range (1,11)
result =[]
for i in num:
  if i%2==0:
    sqr = i**2
    if sqr>10:
      result.append(sqr)
print(result)


[i**2 for i in num if i%2==0 and i**2>10]

[16, 36, 64, 100]

[16, 36, 64, 100]